{% extends "base.html.twig" %}

{% block title %}
	{% if editEmploye %}
		Modifier Employé
	{% else %}
		Ajouter Employé
	{% endif %}
{% endblock %}

{% block body %}

	{% if editEmploye %}
		<h2 class="text-dark text-center my-5">Modifier un employé</h2>
	{% else %}
		<h2 class="text-dark text-center my-5">Ajouter un employé</h2>
	{% endif %}

	<div class="container">
		{{ form_start(formEmploye, {
        attr: {
            novalidate: "novalidate"
        }
    }) }}

		<div class="row">
			{% for field in formEmploye %}
				<div class="col-6 text-center mb-3 p-2">
					{{ form_row(field) }}
				</div>
			{% endfor %}
		</div>

		<div class="row">
			<div class="col-12">
				<button type="submit" class="btn btn-outline-dark mt-3">
					{% if editEmploye %}
						Modifier
					{% else %}
						Ajouter
					{% endif %}
				</button>
			</div>
		</div>

		{{ form_end(formEmploye) }}
	</div>


{% endblock %}
